<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--Included Vue CDN link-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <!-- Search Bar Implementation -->
    <script>
      $( document ).ready(function() {

          document.getElementById('dropdown').innerHTML = 
          '<option value="">All</option>';
          <% for (var i = 0; i < categoryList.length; i++) { %>
          document.getElementById('dropdown').innerHTML += 
              '<option value=<%= categoryList[i]['categories_id'] %>><%= categoryList[i]['category_name'] %></option>';
          <% } %>
      });
  </script>   

    <!-- SFSU Feature-->
    <script>
      function setSearchText(value) {
        var searchBar = document.getElementById('search-entry')
        if (value == "1") {
          searchBar.placeholder = "Enter Book SFSU Number or Title"
        } else {
          searchBar.placeholder = "Enter Title of Product"
        }
      }
      $( document ).ready(function() {
        setSearchText("All");
      })
    </script>

  <!-- Account Implementation -->
  <script>
      $( document ).ready(function() {

      <% if(session.user_id) { %>
          var home = document.getElementById('home-link');
          home.href = "/make-listing";

          var login = document.getElementById('account');
          login.innerHTML = 'ACCOUNT';
          login.href = "/dashboard";
          
      <% } %>
      });
  </script>
    <script>
      function validateEmail() {
        //Access form values for title, price, and description
        const name = document.getElementById('fullname-signup').value;
        const email = document.getElementById('email-signup').value;

        const pass1 = document.getElementById('password-signup').value;
        const pass2 = document.getElementById('password-login-confirm').value;
        
        const check = document.getElementById('tos-checkbox').value;
        
        const ext = email.substring(email.length - 8, email.length);

        //Check if any of the fields are missing
        if (!name  || !email || !pass1 || !pass2) {
          return false;
        }

        //The form is valid, return true
        return true;
      }
    </script>
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1842Y77P4J"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1842Y77P4J');
  </script>
  <body>
    <header id="nav-bar">
      <a href="/" id="website-name">GATORMARKET</a>

      <form id="search-form" class="form-layout" method="post" action="/">
        <select name="category" id="dropdown" onchange="setSearchText(this.value);">>
          <option value="">All</option>
          <option value="Electronics">Electronics</option>
          <option value="Books">Books</option>
          <option value="Misc">Misc</option>
        </select>
        <input
          autocomplete="off"
          name="search"
          id="search-entry"
          type="text"
          value=""
          placeholder="Search"
        />
        <button type="button" id="search-enter" onclick="this.form.submit()">
          <i id="search-icon" class="fa fa-search"></i>
        </button>
      </form>

      <a href="/" id="home-link">UPLOAD</a>
      <a id="account" href="./login.html">LOG IN/<br>REGISTER</a>
    </header>

    <div id="content-section">
      <div id="form-panel">
        <img src="../images/signup.png" id="signup-image" alt="" />
        <form id="signup-form" method="post" action="/register">
          <h1 id="signup-title">Create an Account</h1>
          <h2 id="fullname-title">Full Name</h2>
          <input name="name"
            autocomplete="off"
            id="fullname-signup"
            type="text"
            placeholder="Firstname Lastname"
            required
          />
          <h2 id="email-title">Email</h2>
          <input name="email"
            autocomplete="off"
            id="email-signup"
            type="text"
            placeholder="example@sfsu.edu"
            required
          />
          <h2 id="password-title">Password</h2>
          <input name="password"
            autocomplete="off"
            id="password-signup"
            type="password"
            placeholder="Password"
            required
          />
          <h2 id="password-confirm-title">Confirm Password</h2>
          <input name="passwordConfirm"
            autocomplete="off"
            id="password-login-confirm"
            type="password"
            placeholder="Confirm Password"
            required
          />
          <div id="tos">
            <input id="tos-checkbox" type="checkbox" required></input>
            <h2 id="tos-header">I agree to the <a id="tos-link" target="_blank" href="www.google.com">terms of service</a></h2>
          </div>
          <button id="confirmation" onclick="if (validateEmail()) { this.form.submit(); }">Sign Up</button>
        </form>
      </div>
    </div>
  </body>
</html>
